@using System.Collections.Generic
@model IEnumerable<Post>

<div class="search">
    <!--[if lt IE 10]>
        <label for="txtSearch">Search:</label>
    <![endif]-->
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="txtSearch" placeholder="Search..." maxlength="150">
            <span class="input-group-addon">
                <button class="btn btn-default" id="btnSearch">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<section>
    @foreach (var post in Model)
    {
        var pageUrl = Url.Action("Read", "Posts", new { @id = post.HashName });
        <article class="post-preview" itemid="@(pageUrl)" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="@pageUrl">
                <h2 class="post-title" itemprop="headline">
                    @post.Title
                </h2>
                <h3 class="post-subtitle">
                    @post.Summary
                </h3>
            </a>
            <time datetime="@(post.PostDate.ToString("yyyy-MM-dd"))" class="post-meta" itemprop="datePublished">
                @post.PostDate.ToString("yyyy-MM-dd")
            </time>
            <time datetime="@(post.PostDate.ToString("yyyy-MM-dd"))" class="hide" itemprop="dateModified">
                @post.PostDate.ToString("yyyy-MM-dd")
            </time>
            <p itemprop="publisher" class="hide">Natanael Lemos</p>
            <p itemprop="author" class="hide">Natanael Lemos</p>
            <hr />
        </article>
    }
</section>